<!DOCTYPE html>
<html>
  <head>
      <title><%%= blocks.title %> — <%= name %></title>

      <link rel="shortcut icon" href="/img/favicon.ico">
      <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <header>
        <%%- blocks.header %>
    </header>
    <section class="container">
        <%%-body -%>
    </section>
    <footer>
        <%%-blocks.footer %>
    </footer>
  </body>
</html>
